/* RESET - https://www.joshwcomeau.com/css/custom-css-reset/ */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
    margin: 0;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas {
    display: block;
    max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

button {
    cursor: pointer;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/****
    END RESET
*****/

/****
    DARK MODE/LIGHT MODE
*****/

html {
    --clr-primary: #151f24;
    --clr-secondary: #fef3e9;
}

body {
    font-family: var(--ff-primary);
    transition: background-color 200ms, color 200ms;
}

body.dark-mode {
    color: var(--clr-secondary);
    background-color: var(--clr-primary);
}

body.light-mode {
    color: var(--clr-primary);
    background-color: var(--clr-secondary);
}

@media (prefers-color-scheme: light) {
    body {
        color: var(--clr-primary);
        background-color: var(--clr-secondary);
    }
}

/****
    *********
    BASE STYLES
    ********* 
*****/

html {
    --ff-primary: Arial, Helvetica, sans-serif;
}
